# Created by https://www.toptal.com/developers/gitignore/api/flutter,node
# Edit at https://www.toptal.com/developers/gitignore?templates=flutter,node

### Flutter ###
# Flutter/Dart/Pub related
**/doc/api/
./flutter_application_1/.dart_tool/
./flutter_application_1/.flutter-plugins
./flutter_application_1/.flutter-plugins-dependencies
./flutter_application_1/.fvm/flutter_sdk
./flutter_application_1/.packages
./flutter_application_1/.pub-cache/
./flutter_application_1/.pub/
./flutter_application_1/build/
./flutter_application_1/coverage/
./flutter_application_1/lib/generated_plugin_registrant.dart
# For library packages, don’t commit the pubspec.lock file.
# Regenerating the pubspec.lock file lets you test your package against the latest compatible versions of its dependencies.
# See https://dart.dev/guides/libraries/private-files#pubspeclock
#pubspec.lock

# Android related
./flutter_application_1/**/android/**/gradle-wrapper.jar
./flutter_application_1/**/android/.gradle
./flutter_application_1/**/android/captures/
./flutter_application_1/**/android/gradlew
./flutter_application_1/**/android/gradlew.bat
./flutter_application_1/**/android/key.properties
./flutter_application_1/**/android/local.properties
./flutter_application_1/**/android/**/GeneratedPluginRegistrant.java
./flutter_application_1/
./flutter_application_1/# iOS/XCode related
./flutter_application_1/**/ios/**/*.mode1v3
./flutter_application_1/**/ios/**/*.mode2v3
./flutter_application_1/**/ios/**/*.moved-aside
./flutter_application_1/**/ios/**/*.pbxuser
./flutter_application_1/**/ios/**/*.perspectivev3
./flutter_application_1/**/ios/**/*sync/
./flutter_application_1/**/ios/**/.sconsign.dblite
./flutter_application_1/**/ios/**/.tags*
./flutter_application_1/**/ios/**/.vagrant/
./flutter_application_1/**/ios/**/DerivedData/
./flutter_application_1/**/ios/**/Icon?
./flutter_application_1/**/ios/**/Pods/
./flutter_application_1/**/ios/**/.symlinks/
./flutter_application_1/**/ios/**/profile
./flutter_application_1/**/ios/**/xcuserdata
./flutter_application_1/**/ios/.generated/
./flutter_application_1/**/ios/Flutter/.last_build_id
./flutter_application_1/**/ios/Flutter/App.framework
./flutter_application_1/**/ios/Flutter/Flutter.framework
./flutter_application_1/**/ios/Flutter/Flutter.podspec
./flutter_application_1/**/ios/Flutter/Generated.xcconfig
./flutter_application_1/**/ios/Flutter/app.flx
./flutter_application_1/**/ios/Flutter/app.zip
./flutter_application_1/**/ios/Flutter/flutter_assets/
./flutter_application_1/**/ios/Flutter/flutter_export_environment.sh
./flutter_application_1/**/ios/ServiceDefinitions.json
./flutter_application_1/**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
./flutter_application_1/!**/ios/**/default.mode1v3
./flutter_application_1/!**/ios/**/default.mode2v3
./flutter_application_1/!**/ios/**/default.pbxuser
./flutter_application_1/!**/ios/**/default.perspectivev3
./flutter_application_1/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

### Node ###
# Logs
./customer-Onboarding/logs
./customer-Onboarding/*.log
./customer-Onboarding/npm-debug.log*
./customer-Onboarding/yarn-debug.log*
./customer-Onboarding/yarn-error.log*
./customer-Onboarding/lerna-debug.log*
./customer-Onboarding/.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
./customer-Onboarding/build/Release

# Dependency directories
./customer-Onboarding/node_modules/
./customer-Onboarding/jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
./customer-Onboarding/.env
./customer-Onboarding/.env.development.local
./customer-Onboarding/.env.test.local
./customer-Onboarding/.env.production.local
./customer-Onboarding/.env.local

./flutter_application_1/.env
./flutter_application_1/.env.development.local
./flutter_application_1/.env.test.local
./flutter_application_1/.env.production.local
./flutter_application_1/.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Node Patch ###
# Serverless Webpack directories
.webpack/

# Optional stylelint cache

# SvelteKit build / generate output
.svelte-kit

# End of https://www.toptal.com/developers/gitignore/api/flutter,node